<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Core">
            <directory>packages/core/tests</directory>
        </testsuite>
        <testsuite name="Ddd">
            <directory>packages/ddd/tests</directory>
        </testsuite>
        <testsuite name="Cqrs">
            <directory>packages/cqrs/tests</directory>
        </testsuite>
        <testsuite name="EventDriven">
            <directory>packages/event-driven/tests</directory>
        </testsuite>
        <testsuite name="EventSourcing">
            <directory>packages/event-sourcing/tests</directory>
        </testsuite>
        <testsuite name="Modular">
            <directory>packages/modular/tests</directory>
        </testsuite>
        <testsuite name="Saga">
            <directory>packages/saga/tests</directory>
        </testsuite>
        <testsuite name="Archtest">
            <directory>packages/archtest/tests</directory>
        </testsuite>
        <testsuite name="PHPStanRules">
            <directory>packages/phpstan-rules/tests</directory>
        </testsuite>
        <testsuite name="Laravel">
            <directory>packages/laravel/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core/src</directory>
            <directory>packages/cqrs/src</directory>
            <directory>packages/ddd/src</directory>
            <directory>packages/event-driven/src</directory>
            <directory>packages/event-sourcing/src</directory>
            <directory>packages/modular/src</directory>
            <directory>packages/saga/src</directory>
            <directory>packages/archtest/src</directory>
            <directory>packages/laravel/src</directory>
        </include>
    </source>
</phpunit>
