includes:
    - vendor/solidframe/phpstan-rules/extension.neon

parameters:
    level: 8
    paths:
        - app
    ignoreErrors:
        - '#Call to an undefined static method App\\Infrastructure\\Persistence\\Eloquent\\BookModel::#'
        - '#should return list<.+> but returns array<int,.+>#'
